.countries-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.list-countries-total,
.list-countries-favorites {
  margin-top: 40px;
}

.countryContainer {
  display: grid;
  grid-template-columns: 60px 80px 100px;
  margin-bottom: 20px;
  width: 80%;
}

.addButton {
  width: 40px;
  height: 40px;
  background-color: lime;
  font-size: 2em;
}

.delButton {
  width: 40px;
  height: 40px;
  background-color: tomato;
  font-size: 2em;
  line-height: 20px;
}

.countryFlag {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
